/* custom formatting of the root */
:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    background-color: white;
}
/* custom formatting of the heading paragraph  */
heading {
    color:white;
    background: #301D8F;
    background: linear-gradient(to left, #301D8F 33%, #5634FF 74%);
    font-size: 1.5rem;
    height:100px;
    width:100%;
}
/* custom formatting of the aside */
aside {
    display: block;
}
/* custom formatting of the search button */
.searchBtn{
    color:white;
    background-color:#8f99fb;
    display: block;
}
/* custom formatting of the city buttons */
.cityBtn {
    color:black;
    background-color: lightgrey;
}
/* custom formatting of the city button section */
.section-city-btns {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
/* custom formatting of the search area */
.search-area {
    display:flex;
    flex-direction:column;
    justify-content:center;
}
/* custom formatting of the weather tiles */
.weathertile{
    background-color: #323d4f;
    display:flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
}
/* custom formatting of the main section */
main{
    display:flex;
    flex-direction: column;
    margin-right: 200px;
}
/* custom formatting of the day-icons */
.day-icon{
    height: 30px;
    width: 30px;
}
